= render :partial => 'error'
%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f|
  %div
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true
  %div
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %div
    = f.label :email
    %br/
    = f.email_field :email
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %div
    = f.label :username
    %br/
    = f.text_field :username
    %br/
  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  - if f.object.encrypted_password.present?
    %div
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "off"
  %hr
  %div
    %h6 Select an Avatar
    = f.label :avatar do
      = f.file_field :avatar
      = f.hidden_field :avatar_cache
    = f.label :remove_avatar
    = f.check_box :remove_avatar
  %hr
  %div
    = submit_tag 'Update', :class => 'btn btn-outline-success'
    = link_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-outline-primary'
    = link_to "Back", users_myprofile_path, :class => 'btn btn-outline-danger'
