= render :partial => 'error'
%h2 Sign Up
= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f|
  .form-group
    .new_form_width
      = f.label :first_name
      %br/
      = f.text_field :first_name, autofocus: true, :class => "form-control", :placeholder => "First name"
  .form-group
    .new_form_width
      = f.label :last_name
      %br/
      = f.text_field :last_name, :class => "form-control", :placeholder => "Last name"
  .form-group
    .new_form_width
      = f.label :email
      %br/
      = f.email_field :email, :class => "form-control", :placeholder => "Email"
      %br/
  .form-group
    .new_form_width
      = f.label :username
      %br/
      = f.text_field :username, :class => "form-control", :placeholder => "Username"
      %br/
  .form-group
    .new_form_width
      = f.label :password
      - if @validatable
        %i
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"
      %br/
  .form-group
    .new_form_width
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirm password"

  %hr
  .form-group
    %h6 Select an Avatar
    = f.label :avatar do
      = f.file_field :avatar
      = f.hidden_field :avatar_cache
  %hr/
  %div
    = submit_tag 'Sign Up', :class => 'btn btn-outline-success'
    = link_to "Back", root_path, :class => 'btn btn-outline-danger'
