= label :cocktail, :name, 'Name'
%br
= text_field :cocktail, :name
%br

= label :cocktail, :description, 'Description'
%br
= text_area :cocktail, :description
%br

= label :cocktail, :creation_date, 'Creation date'
%br
= date_select :cocktail, :creation_date
%br
%input{:accept => "image/*", :name => "pic", :type => "file"}
%br
