= render :partial => 'errors'
%h2 Editing Cocktail "#{@cocktail.name}"

= form_for(@cocktail, url: cocktail_path(@cocktail), html: { method: :put, :multipart => true }) do |f|
  .form-group
    .new_form_width
      = f.label :name
      = f.text_field :name, :class => "form-control", :placeholder => "Name"

  .form-group
    .new_form_width
      = f.label :description
      = f.text_area :description, :class => "form-control", :placeholder => "Description"
  .form-group
    = f.select :category, options_for_select(['Shaking', 'Stirring', 'Mixing & Straining', 'Muddler', 'Build', 'Frozen'], selected: @cocktail.category)
  %br
  %hr
  .form-group
    .new_form_width
      = f.label :link, 'Youtube link'
      = f.url_field :link, :class => "form-control", :placeholder => "Youtube link", :pattern => "(?:https?:\/\/)?(?:youtu\.be\/|(?:www\.)?youtube\.com\/watch(?:\.php)?\?.*v=)([a-zA-Z0-9\-_]+)"

  %br
  .form-group
    .new_form_width
      = f.label :image do
        = f.file_field :image
        = f.hidden_field :image_cache
    = f.label :remove_image
    = f.check_box :remove_image
  %br
  %hr
  = submit_tag 'Save Changes', :class => 'btn btn-secondary'
  = link_to "Back", cocktail_path(@cocktail), :class => 'btn btn-primary'
