= render :partial => 'errors'
%h2 Editing Cocktail "#{@cocktail.name}"

= form_for(@cocktail, url: cocktail_path(@cocktail), html: { method: :put, :multipart => true }) do |f|
  %div
    = f.label :name
    %br
    = f.text_field :name
  %br

  %div
    = f.label :description
    %br
    = f.text_area :description
  %br
  %div
    = f.text_field :link
  %br
  %br
  %div
    = f.label :image do
      = f.file_field :image
      = f.hidden_field :image_cache
    = f.label :remove_image
    = f.check_box :remove_image
  %br
  %hr
  = submit_tag 'Save Changes', :class => 'btn btn-outline-success'
  = link_to "Back", cocktail_path(@cocktail), :class => 'btn btn-outline-danger'
