= form_tag cocktails_results_path, :method => :get do
  = select_tag :category, options_for_select(['Search by category','Shaking', 'Stirring', 'Mixing & Straining', 'Muddler', 'Build', 'Frozen'], params[:category])
  = select_tag :orderby, options_for_select(['Order by','A-Z', 'Most recent', 'Top rating', 'Top reviewed'], params[:orderby])
  .input-group.mb-3
    = text_field_tag(:words,'',:class => "form-control mr-sm-2", :placeholder => 'Search Cocktails', :required => :true, :autofocus => :true)
    = submit_tag 'Search Cocktails', :class => 'btn btn-outline-success'
- if user_signed_in?
  - if current_user.following.count > 0
    - count = find_following_cocktails
    - count.sort_by(&:created_at).each do |u|
      %h5 #{u.name}
