= render :partial => 'errors'
%h2 Create new cocktail

= form_for(:cocktail, url: cocktails_path, :html => {:multipart => true}) do |f|

  .form-group
    .new_form_width
      = f.label :name
      = f.text_field :name, :class => "form-control", :placeholder => "Name"

  .form-group
    .new_form_width
      = f.label :description
      = f.text_area :description, :class => "form-control", :placeholder => "Description"
  .form-group
    = f.select :category, options_for_select(['Shaking', 'Stirring', 'Mixing & Straining', 'Muddler', 'Build', 'Frozen'], selected: @cocktail.category)
  %br
  %hr
  .form-group
    .new_form_width
      = f.label :link, 'Youtube link'
      = f.url_field :link, :class => "form-control", :placeholder => "Youtube link", :pattern => "(?:https?:\/\/)?(?:youtu\.be\/|(?:www\.)?youtube\.com\/watch(?:\.php)?\?.*v=)([a-zA-Z0-9\-_]+)"



  %br
  .form-group
    .new_form_width
      = f.label :image do
        = f.file_field :image
        = f.hidden_field :image_cache
  %br
  %hr
  = submit_tag 'Create Cocktail', :class => 'btn btn-secondary'
  = link_to "Back", root_path, :class => 'btn btn-primary'
