%h2 Details about cockatil "#{@cocktail.name}"

%ul#details
   %li Creation date: #{@cocktail.creation_date}
   %li Description: #{@cocktail.description}

= link_to "Back", root_path, :class => 'btn btn-outline-success'
= link_to "Edit", edit_cocktail_path(@cocktail), :class => 'btn btn-outline-danger'
%br
%br
= link_to "Delete Cocktail", cocktail_path(@cocktail), :method => :delete, :class => 'btn btn-outline-primary'

