%h2 Details about cockatil "#{@cocktail.name}"
%h3 Created by "#{@cocktail.user.username}"

%ul#details
    %li Description: #{@cocktail.description}

%div
    = image_tag "#{@cocktail.image.url}"
%br
= link_to "Show Reviews", cocktail_reviews_path(@cocktail), :class => 'btn btn-outline-success'
- if FavoriteCocktail.find_by(:user_id => current_user.id) != nil
    = link_to "Remove from Favorites", favorite_cocktail_path(@cocktail, type: "unfavorite"), method: :put, :class => 'btn btn-outline-danger'
- else
    = link_to "Add to Favorites", favorite_cocktail_path(@cocktail, type: "favorite"), method: :put, :class => 'btn btn-outline-success'
= link_to "Download pdf", cocktail_path(@cocktail, format: 'pdf'), :class => 'btn btn-outline-primary'

%br
%br
= link_to "Back", root_path, :class => 'btn btn-outline-success'
- if @cocktail.user == current_user
    = link_to "Edit", edit_cocktail_path(@cocktail), :class => 'btn btn-outline-danger'
    = link_to "Delete Cocktail", cocktail_path(@cocktail), :method => :delete, :class => 'btn btn-outline-primary'

