%li
  .panel.panel-default{"data-conversation-id" => "#{conversation.id}"}
    .panel-heading
      = link_to conversation.opposed_user(user).email, '', class: 'toggle-window'
      = link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post
    .panel-body{style: "display: none;"}
      .messages-list
        %ul
          = render 'conversations/conversation_content', messages: conversation.messages, user: user
      %form.new_message
        %input{name: "conversation_id", type: "hidden", value: "#{conversation.id}"}/
        %input{name: "user_id", type: "hidden", value: "#{user.id}"}/
        %textarea.form-control{name: "body"}
        %input.btn.btn-success{type: "submit", value: "Send"}/