.card.border-dark.mb-3
  .card-header
    %h3 #{@user.first_name} #{@user.last_name}
    
    %p Coctails:
    - @user.cocktails do |c|
      = link_to "#{c.name}", cocktail_path(c)
    
    %p Reviews:
    - @user.reviews do |r|
      = link_to "reviews to #{r.cocktail}", cocktail_review_path(r.cocktail)

= link_to "Home", root_path, :class => 'btn btn-outline-primary'