- @users.each do |user|
  .card.mb-3{:style => "display: inline-block; width: 250px;"}
    %h3.card-header
      %a{:href => (user.id == current_user.id) ? users_myprofile_path : profile_path(user), :class => "card-link"} #{user.first_name} #{user.last_name}
    .card-body
      .card-title
      %img.img-thumbnail{:style => "height: 200px; width: 100%; display: block;", :src => "#{user.avatar.url}", :alt => "Profile image"}

    %ul.list-group.list-group-flush
      %li.list-group-item.d-flex.justify-content-between.align-items-center
        Cocktails
        %span.badge.badge-primary.badge-pill
          #{user.cocktails.count}
      %li.list-group-item.d-flex.justify-content-between.align-items-center
        Reviews
        %span.badge.badge-primary.badge-pill
          #{user.reviews.count}
    .card-body
      - if user_signed_in?
        - if current_user.id == user.id
          = button_to "My Profile", users_myprofile_path, class: "btn", :method => :get
        - else
          - if current_user.following?(user)
            = form_for(current_user.active_relationships.find_by(followed_id: user.id),
              html: { method: :delete }) do |f|                                         |
              = f.submit "Unfollow", class: "btn"
          - else
            = form_for(current_user.active_relationships.build) do |f|
              %div
                = hidden_field_tag :followed_id, user.id
              = f.submit "Follow", class: "btn btn-primary"

