= render :partial => 'error'
%h2 Log In
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    .new_form_width
      = f.label :login, 'Email or Username'
      %br/
      = f.text_field :login, autofocus: true, :class => "form-control", :placeholder => "Email or username"
  .form-group
    .new_form_width
      = f.label :password, 'Enter Password'
      %br/
      = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"

  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me
      = f.label :remember_me
    %hr/
    %div
      = link_to raw('<i class="fab fa-twitter"></i> Sign In with Twitter'), "http://127.0.0.1:3000/users/auth/twitter", :class => "btn btn-twitter" 
    
      = link_to raw('<i class="fab fa-google"></i> Sign In with Google'),  user_google_oauth2_omniauth_authorize_path, :class => "btn btn-google"
      %br
      %br
      = submit_tag 'Log In', :class => 'btn btn-secondary'
      = link_to "Back", root_path, :class => 'btn btn-secondary'
