- unless @cocktail.errors.empty?
  #warning
    Errors occured, this cocktail can't be #{controller.action_name}d:
    %ul
      - @cocktail.errors.full_messages.each do |error|
        %li= error

%h2 Editing Review for #{@cocktail.name}

= form_tag cocktail_review_path(@cocktail), :method => :put do
  = render :partial => 'review_form'
  = submit_tag 'Save Changes', :class => 'btn btn-secondary'
  = link_to "Back", cocktail_review_path(@review), :class => 'btn btn-primary'
