%h2 Reviews for #{@cocktail.name}
- if @cocktail.reviews.first == nil
    %p Non è ancora stata scritta alcuna recensione!
- else 
    - @cocktail.reviews.each do |review|
        
        %p Username:  #{review.user.username}

        %p Rate:  #{review.rate}
        
        %p Comments: #{review.comments}

        = link_to "details", cocktail_review_path(:id => review.id)
        %hr


- if current_user
    - if Review.find_by(:cocktail_id => @cocktail.id, :user_id => current_user.id) == nil
        - if Cocktail.find_by(:id => @cocktail.id).user.id != current_user.id
            = link_to "Create a new Review", new_cocktail_review_path(@cocktail), :class => 'btn btn-outline-success'
= link_to "Back", cocktail_path(@cocktail), :class => 'btn btn-outline-success'