%h2 New Review for #{@cocktail.name}

= form_tag cocktail_reviews_path(@cocktail), :method => :post do
    
    = render :partial => 'review_form'
    
    = submit_tag 'Create Review', :class => 'btn btn-secondary'
    = link_to "Back", cocktail_path(@cocktail), :class => 'btn btn-primary'
