%h2 Review about cocktail #{@review.cocktail.name}
%h3 Created by #{@review.user.username}

%ul#details
    %li Rate: #{@review.rate}
    %li Comments: #{@review.comments}

- if current_user == @review.user
    = link_to "Edit", edit_cocktail_review_path(@review.cocktail), :class => 'btn btn-outline-danger'
    = link_to "Delete Review", cocktail_review_path(@review.cocktail), :method => :delete, :class => 'btn btn-outline-primary'
%br
%br
= link_to "Back", cocktail_reviews_path(@review.cocktail), :class => 'btn btn-outline-success'

