.card.border-primary.mb-3{:style => "max-width: 20rem;"}
  .card-header 
    Review about cocktail #{@review.cocktail.name}
    %br
    %small.text-muted By #{@review.user.username}
  .card-body
    %h4.card-title
      Rate: #{@review.rate}
      (
      - (1..5).each do |i|
        -if i <= @review.rate
          %i{:class => "fas fa-star"}
        -else
          %i{:class => "far fa-star"}
      )
    %hr
    %p.card-text 
      Comments:
      %br
      %br
      -if @review.comments.size == 0
        The user only rated this cocktail!
      -else 
        #{@review.comments}
    %p.card-text 
      Likes:
      -if @review.liked_by.size == 0
        no one likes this
      -else 
        #{@review.liked_by.size} people like this
    
  .card-footer
    -if current_user
      - if current_user == @review.user
        = link_to "Edit", edit_cocktail_review_path(@review.cocktail), :class => 'btn btn-secondary'
        = link_to "Delete Review", cocktail_review_path(@review.cocktail), :method => :delete, :class => 'btn btn-outline-primary'
      -else
        - if Like.find_by(:review_id => @review.id, :user_id => current_user.id) == nil
          = link_to raw('<i class="fas fa-thumbs-up"></i>'), like_cocktail_review_path(@review), method: 'post', :class => 'btn btn-secondary'
        - else 
          = link_to raw('<i class="fas fa-thumbs-down"></i>'),  dislike_cocktail_review_path(@review), method: 'delete', :class => 'btn btn btn-primary'
      %hr

    = link_to "Back to The Cocktail", cocktail_path(@review.cocktail), :class => 'btn btn-primary'

