!!! 5
%html
  %head
    %title Bubble-2•3•4
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.13/css/all.css'
    = stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/simplex/bootstrap.min.css'
    = javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      %a.navbar-brand{:href => root_path}
        %i.fa.fa-glass-martini
        Bubble 2•3•4
        %i.fa.fa-glass-martini
      %div.collapse.navbar-collapse#navbarColor02
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item>
              = link_to "New Cocktail", new_cocktail_path, :class => 'nav-link'
            %li.nav-item>
              = link_to "Conversations", conversations_path, :class => 'nav-link'
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button", "aria-haspopup" => "true", "aria-expanded"=> "false"}
                #{current_user.first_name} #{current_user.last_name}
              .dropdown-menu{"x-placement" => "bottom-start", :style => "position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);"}
                = link_to "Profile", user_path(current_user), :class => 'dropdown-item'
                = link_to "Random", random_path, :class => 'dropdown-item'
                = link_to "Options", edit_user_registration_path, :class => 'dropdown-item'
                = link_to "Log Out", destroy_user_session_path, :method => 'delete', :class => 'dropdown-item'
                - if current_user.admin?
                  .dropdown-divider
                  = link_to "Admin", rails_admin_path, :class => 'dropdown-item'
            %li.nav-item
              %a.nav-link{:href=> "#", "data-toggle" => "modal", "data-target" => ".bs-modal-sm"}
                %span.fa.fa-search.fa-lg
          - else
            %li.nav-item>
              = link_to "Log In", new_user_session_path, :class => 'nav-link'
            %li.nav-item>
              = link_to "Sign Up", new_user_registration_path, :class => 'nav-link'
    .container
      %hr
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %div{:class => "alert alert-dismissible alert-#{name.to_sym == :notice ? "success" : "danger"}"}
            %button.close{"data-dismiss" => "alert"} ×
            %div{:id => "flash_#{name}"}
              %i{:class => "fas fa-#{name.to_sym == :notice ? "check" : "exclamation"}-circle text-#{name.to_sym == :notice ? "success" : "danger"}"}
              = msg

      .modal.fade.bs-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              .modal-title
                Search Users
              %button.close{"data-dismiss" => "modal"} ×
            .modal-body
              = form_tag users_results_path, :method => :get do
                .input-group.mb-3
                  = text_field_tag(:usr,'',:class => "form-control mr-sm-2", :placeholder => 'Search Users', :required => :true, :autofocus => :true) 
                  = submit_tag 'Search', :class => 'btn btn-primary'

      =yield
      %hr
      
      /autofocus on search bar
      :javascript
        $('.modal').on('shown.bs.modal', function() {
          $(this).find('[autofocus]').focus();
        });
