!!! 5
%html
  %head
    %title Bubble-2•3•4
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.8/css/solid.css'
    = stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/simplex/bootstrap.min.css'
    = javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      %a.navbar-brand{:href => root_path}
        Bubble-2•3•4
      %div.collapse.navbar-collapse#navbarColor02
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button", "aria-haspopup" => "true", "aria-expanded"=> "false"}
                #{current_user.first_name} #{current_user.last_name}
              .dropdown-menu{"x-placement" => "bottom-start", :style => "position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);"}
                = link_to "New Cocktail", new_cocktail_path, :class => 'dropdown-item'
                = link_to "My Profile", users_myprofile_path, :class => 'dropdown-item'
                = link_to "Log Out", destroy_user_session_path, :method => 'delete', :class => 'dropdown-item'
                - if current_user.admin?
                  .dropdown-divider
                  = link_to "Admin", rails_admin_path, :class => 'dropdown-item'
          - else
            %li.nav-item>
              = link_to "Log In", new_user_session_path, :class => 'nav-link'
            %li.nav-item>
              = link_to "Sign Up", new_user_registration_path, :class => 'nav-link'
    .container
      %hr
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %div{:class => "alert alert-dismissible alert-#{name.to_sym == :notice ? "success" : "danger"}"}
            %button.close{"data-dismiss" => "alert"} ×
            %div{:id => "flash_#{name}"}
              %i{:class => "fas fa-#{name.to_sym == :notice ? "check" : "exclamation"}-circle text-#{name.to_sym == :notice ? "success" : "danger"}"}
              = msg
      =yield
      %hr
